<div class="container">
   <div class="row">
      <div class="col-lg-8 offset-lg-2">
         <div class="pr3-title-area text-center wow fadeInUp animated animated" style="visibility: visible;">
            <span>FAQ</span>
            <div class="pr3-headline">
               <h3>Мы подготовили ответы на часто задаваемые вопросы</h3>
            </div>
         </div>
      </div>
   </div>
   <div class="row align-items-center">
      <div class="col-lg-6 faq-accordion">
         <div class="pr3-accordion">
            <div class="accordion" id="pr3_accordion">
               <div class="card wow fadeInUp animated animated" style="visibility: visible;">
                  <div class="card-header">
                     <a data-toggle="collapse" data-target="#card_one" class="collapsed" aria-expanded="false"> 1. С какого возраста можно начать?</a>
                  </div>
                  <div id="card_one" class="collapse" data-parent="#pr3_accordion" style="">
                     <div class="card-body">
                        <div class="pr2-pera-txt">
                           <p>Минимальный порог – 8 лет, главный навык, которым ребенок должен обладать умение читать. Вы всегда можете попробовать запизавшись на вводный урок.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card wow fadeInUp animated animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                  <div class="card-header">
                     <a data-toggle="collapse" data-target="#card_two" aria-expanded="false" class="collapsed">2. В каком формате проходят занятия?</a>
                  </div>
                  <div id="card_two" class="collapse" data-parent="#pr3_accordion" style="">
                     <div class="card-body">
                        <div class="pr2-pera-txt">
                           <p>Занятия проходят онлайн с помощью площадки Zoom. Преподаватель индивидуально
                              проводит урок с учеником на протяжении 50 минут.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card wow fadeInUp animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
                  <div class="card-header">
                     <a data-toggle="collapse" data-target="#card_three">3. Что делать если ребенок заболел и/или пропустил занятие?</a>
                  </div>
                  <div id="card_three" class="collapse" data-parent="#pr3_accordion">
                     <div class="card-body">
                        <div class="pr2-pera-txt">
                           <p>Уроки не сгорают, а переходят на следующий урок по расписанию.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card wow fadeInUp animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s;">
                  <div class="card-header">
                     <a data-toggle="collapse" data-target="#card_four">4. Можно ли получить скидку за второго ребенка?</a>
                  </div>
                  <div id="card_four" class="collapse" data-parent="#pr3_accordion">
                     <div class="card-body">
                        <div class="pr2-pera-txt">
                           <p>Да, подробнее Вы можете узнать у менеджера.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card wow fadeInUp animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s;">
                  <div class="card-header">
                     <a data-toggle="collapse" data-target="#card_five">5. Где я могу узнать о успеваемости своего ребенка?</a>
                  </div>
                  <div id="card_five" class="collapse" data-parent="#pr3_accordion">
                     <div class="card-body">
                        <div class="pr2-pera-txt">
                           <p>Каждый 6 урок Вам будет приходить отчет об успеваемости ребенка.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card wow fadeInUp animated animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s;">
                  <div class="card-header">
                     <a data-toggle="collapse" data-target="#card_six">6. Есть ли домашнее задание?</a>
                  </div>
                  <div id="card_six" class="collapse" data-parent="#pr3_accordion">
                     <div class="card-body">
                        <div class="pr2-pera-txt">
                           <p>Да, после каждого урока преподаватель будет задавать домашнее задание в
                              зависимости от изученного материала.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6 align-self-center faq-img">
         <div class="pr3-faq-right wow fadeInLeft animated animated" style="visibility: visible;">
            <img src="/assets/img/business-2/faq-img.png" alt="курсы веб дизайна для детей | Roblox Studio|Python| айти школа Киев| айти школа Украина | Scratch | Скретч для детей | индивидуальные уроки">
         </div>
      </div>
   </div>
</div>