<div class="container">
   <div class="row">
      <div class="col-lg-3">
         <div class="dia-footer-widget pera-content dia-headline clearfix">
            <div class="dia-footer-logo">
               <p>Детская IT-академия</p>
               <div class="brand_logo"><a href="/" class="textLogo white-logo">SKY-ACADEMY</a></div>
            </div>
            <div class="dia-footer-social">
               <a rel="noreferrer" href="https://www.facebook.com/skyacademy.online/" target="_blank"><i class="fab fa-facebook-square"></i></a>
               <a rel="noreferrer" href="https://www.instagram.com/sky_academy.online/" target="_blank"><i class="fab fa-instagram"></i></a>
               <a rel="noreferrer" href="https://vk.com/skyacademy_online/" target="_blank"><i class="fab fa-vk"></i></i></a>
            </div>
         </div>
      </div>
      <div class="col-lg-3">
         <div class="dia-footer-widget dia-headline ul-li-block clearfix">
            <h3 class="dia-widget-title">Направления</h3>
            <ul>
               <li><a href="/scratch">Scratch</a></li>
               <li><a href="/frontend">Frontend</a></li>
               <li><a href="/python">Python</a></li>
               <li><a href="/roblox">Roblox</a></li>
            </ul>
         </div>
      </div>
      <div class="col-lg-3">
         <div class="dia-footer-widget dia-headline ul-li-block clearfix">
            <h3 class="dia-widget-title">Полезная информация</h3>
            <ul>
               <li><a href="/tutorial/python">Python</a></li>
               <li><a href="/tutorial/roblox">Roblox</a></li>
            </ul>
         </div>
      </div>
      <div class="col-lg-3">
         <div class="dia-footer-widget dia-headline  ul-li-block clearfix">
            <h3 class="dia-widget-title">Контакты</h3>
            <ul class="footerContact">
               <li><i class="far fa-envelope"></i><a target="_top" href="mailto:admin@sky-academy.online">admin@sky-academy.online</a></li>
               <li><i class="fab fa-whatsapp"></i><a target="_top" href="https://wa.me/+380955852421">WhatsApp</a></li>
               <li><i class="fab fa-viber"></i><a target="_top" href="viber://chat?number=%2B380955852421">Viber</a></li>
               <li><i class="fab fa-telegram-plane"></i><a target="_top" href="https://t.me/skyacademyonline">Telegram</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>