<div class="">
   <div class="app-dm-header-content position-relative">
      <div class="app-dm-main-header-content">
         <div class="app-dm-main-menu-wrapper d-flex justify-content-center align-items-center" style="">
            <a href="/">
            <img class="logo-1" src="/assets/img/d-marketing/img/logo/logo.png" alt="курсы веб дизайна для детей | Roblox Studio|Python| айти школа Киев| айти школа Украина | Scratch | Скретч для детей | индивидуальные уроки">
            <img class="logo-2" src="/assets/img/d-marketing/img/logo/logo.png" alt="курсы веб дизайна для детей | Roblox Studio|Python| айти школа Киев| айти школа Украина | Scratch | Скретч для детей | индивидуальные уроки">
            </a>
            <nav class="app-dm-main-navigation clearfix ul-li">
               <ul id="app-dm-main-nav" class="nav navbar-nav clearfix">
                   <li><a class="nav-link anchor-link" href="/" data-href="#eight-mainsection">Главная</a></li>
                   <li><a class="nav-link anchor-link" href="/" data-href="#saas_two_about">Направления</a></li>
                   <li><a class="nav-link anchor-link" href="/" data-href="#ei-newslatter">Контакты</a></li>
                   <li><a class="nav-link anchor-link" href="/" data-href="#saas_two_team">Отзывы</a></li>
                   <li><a class="nav-link anchor-link" href="/" data-href="#saas_two_feature1">Преимущества</a></li>
                   <li><a class="nav-link anchor-link" href="/" data-href="#sb-faq">FAQ</a></li>
                   
               </ul>
            </nav>
            <div class="app-dm-btn">
               <a class="d-flex justify-content-center align-items-center anchor-link" href="/" data-href="#ei-newslatter">Записаться<i class="fas fa-arrow-right"></i></a>
            </div>
         </div>
      </div>
      <div class="app-dm-mobile_menu position-relative">
         <div class="app-dm-mobile_menu_button app-dm-open_mobile_menu">
            <i class="fas fa-bars"></i>
         </div>
         <div class="app-dm-mobile_menu_wrap">
            <div class="mobile_menu_overlay app-dm-open_mobile_menu"></div>
            <div class="app-dm-mobile_menu_content">
               <div class="app-dm-mobile_menu_close app-dm-open_mobile_menu">
                  <i class="fas fa-times"></i>
               </div>
               <div class="m-brand-logo text-center">
                  <a href="/"><img src="/assets/img/d-marketing/img/logo/logo.png" alt="курсы веб дизайна для детей | Roblox Studio|Python| айти школа Киев| айти школа Украина | Scratch | Скретч для детей | индивидуальные уроки"></a>
               </div>
               <nav class="app-dm-mobile-main-navigation  clearfix ul-li">
                  <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                       <li><a class="nav-link" href="/" data-href="#eight-mainsection">Главная</a></li>
                       <li><a class="nav-link" href="/" data-href="#saas_two_about">Направления</a></li>
                       <li><a class="nav-link" href="/" data-href="#ei-newslatter">Контакты</a></li>
                       <li><a class="nav-link" href="/" data-href="#saas_two_team">Отзывы</a></li>
                       <li><a class="nav-link" href="/" data-href="#saas_two_feature1">Преимущества</a></li>
                       <li><a class="nav-link" href="/" data-href="#sb-faq">FAQ</a></li>
                       
                  </ul>
               </nav>
            </div>
         </div>
         <!-- /Mobile-Menu -->
      </div>
   </div>
</div>